<!DOCTYPE html>

<head>
    <title>MOBILES AND ACCESSORIES</title>
    <style>
    body {
        background-color: #EEE9E9;
    }

    header {
        display: flex;
        justify-content: space-evenly;
        background-color: #337ab7;
        width: 100%;
        height: 56px;
        position: sticky;
        top: 0px;
    }
.header-left{
    width: 100%;

    margin: 5px 0px;
    cursor: pointer;
}
.header-left a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.5px;

}
.header-left-p a{
   font-size: 10px;
   letter-spacing: 1.5px;
}
.header-left-p span{
    color: yellow;
    font-size: 10px;
    letter-spacing: 1px;
}
.header-left-p:hover{
    text-decoration: underline;
    color: white;
}
.header-center{
    width: 40%;
    text-align: left;
    line-height: 50px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
}
.header-center-input{
    height: 36px;
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
}

.header-right{
    width: 40%;
    font-size: 15px;
    display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
  line-height: 50px;
}
.header-right a{
    text-decoration: none;
    color: white;
    margin: 0px 25px;
}
.header-right .active{
    background-color: white;
    color: #2874f0;
    padding: 5px 30px;
    height: 35px;
    width: 130px;
    line-height: 23px;
    margin-top: 8px;
    border-radius: 2px;
    text-align: center;
}
.fa-shopping-cart{
    padding-right: 10px;
}
.fa-sort-down{
    padding-left: 5px;

}
.banner{

width: 100%;
overflow: hidden;

}
.slider{
   width: 4098;
   display: flex;
   flex-direction: row;
   position: relative;
   padding-bottom:45px;
}

.slider img{
   width: 100%;
}
footer{
   background-color: #172337;
   height: 332;
}
.footer-row{
   width: 100%;
   height: 270px;
   display: flex;
   padding: 30px 60px;
}
.footer-row2{
   display: flex;
   border-top: 1px solid #454d5e;
   justify-content: space-evenly;
}
.footer-col-1{
   width: 15%;
}
.footer-col-2{
   width: 15%;
}
.footer-col-3{
   width: 15%;
}
.footer-col-4{
   width: 10%;
}
.footer-col-5{
   width: 20%;
   border-left:1px solid #454d5e ;
   height: 120px;
   padding-left: 25px;
}
.footer-col-6{
   width: 20%;
   padding-left: 50px;
}
.footer-heading p{
color: #878787;
font-size: 12px;
font-weight: 400;
text-align: left;
padding: 10px 0px;
cursor: pointer;
text-transform: uppercase;
}
.footer-list a{
   text-align: left;
   display: block;
   text-decoration: none;
  text-transform: capitalize;
   color: white;
   font-size: 12px;
   font-weight: 400;
   padding: 5px 0px;
}
.footer-list a:hover{
   text-decoration: underline;
}
.footer-list  p{
   text-align: left;
   display: block;
   color: white;
   font-size: 12px;
   font-weight: 100px;
   padding:5px 0px;
   line-height: 20px;
   cursor: pointer;
}
.footer-list-address p{
   text-align: left;
   display: block;
   color: white;
   font-size: 12px;
   font-weight: 100px;
   line-height: 20px;
    cursor: pointer;
}
.footer-list-address span{
   color: rgb(60,109,245);
   cursor: pointer;
}
.footer-row2-col p{
 color: white;
   font-size: 15px;
   font-weight: 100px;
   line-height: 20px;
    cursor: pointer;
     text-align: center;
     line-height: 50px;
     letter-spacing: .7px;

}
.fa-shopping-bag, .fa-star, .fa-gift ,.fa-question-circle{
   color: #ffd700;
   cursor: pointer;
  padding-right: 10px;
  font-size: 15px;

}
    </style>

</head>
<body>
    <!-- header section -->

    <header>
        <div class="header-left">
            <title>MOBILES AND ACCESSORIES</title>
            <a href="#">MOBLIES AND ACCESSORIES</a>
            @*<p><a href="#"></a> <span>life is infinitely delicious<i class="fas fa-utensils"></i></i> </span></p>*@
        </div>
    </header>
    <marquee width="100%" direction="left" height="40px">
       WELCOME TO MOBLIES AND ACCESSORIES,HERE ALL TYPES OF MOBILES AND BRANDS ARE AVALIABLE!!
    </marquee>

    <!-- banner section -->
    <section>
        <div class="banner">
            <div class="slider">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEopljx-8zVLgy4F2bIwPDEVIoFqQLg805kQ&usqp=CAU"  alt="banner">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbn-rfG7oGt5B8Np6uUvUoRSxcAC9eqXQ-FQ&usqp=CAU"  alt="banner">
             @*  <img src="/NewFolder1/ban3.jpg"  alt="banner">*@



            </div>
        </div>
    </section>


    <!-- footer -->

    <footer>

        <div class="footer-row">
            <div class="footer-col-1">
                <div class="footer-heading">
                    <p>ABOUT</p>
                </div>
                <div class="footer-list">
                    <a href="#">About Us</a>
                    <a href="http://localhost:50572/Contact/Index">contact</a>
                </div>
            </div>
            <div class="footer-col-2">
                <div class="footer-heading">
                    <p>HELP</p>
                </div>
                <div class="footer-list">
                    <a href="#">Payments</a>
                    <a href="#">Shipping</a>
                    <a href="#">Cancellation & Returns</a>
                    <a href="#">FAQ</a>


                </div>
            </div>
            <div class="footer-col-3">
                <div class="footer-heading">
                    <p>POLICY</p>
                </div>
                <div class="footer-list">
                    <a href="#">Return Policy</a>
                    <a href="#">Terms Of Use</a>
                    <a href="#">Security</a>
                    <a href="#">Privacy</a>

                </div>
            </div>
            <div class="footer-col-4">
                <div class="footer-heading">
                    <p>SOCIAL</p>
                </div>
                <div class="footer-list">
                    <a href="#">Facebook</a>
                    <a href="#">Twitter</a>
                    <a href="#">YouTube</a>
                    <a href="#">Instagram</a>

                </div>
            </div>

            <div class="footer-col-5">
                <div class="footer-heading">
                    <p>Mail Us</p>
                </div>
                <div class="footer-list">

                    <p> electronics.hyd@gmail.com</p>
                    <p>Address : </p>
                    <p>
                        mobiles and accessories shop ,
                        ROAD NO.2 ,KRISHNA NAGAR ,JUBLIEE HILLS ,
                        HYDERABAD ,500055,
                        TELANGANA ,INDIA
                    </p>

                </div>
            </div>

            <div class="footer-col-6">
                <div class="footer-heading">
                    <p>Registered Office Address</p>
                </div>
                <div class="footer-list-address">
                    <P> mobiles and accessories shop</P>
                    <P>KRISHNA NAGAR</P>
                    <P>JUBLIEE HILLS</P>
                    <P>HYDERABAD ,500055</P>
                   
                   
                </div>
            </div>
        </div>
        <div class="footer-row2">
            <div class="footer-row2-col">
                <p> <i class="fas fa-shopping-bag"></i>Sell On  mobiles and accessories shop</p>
            </div>
            <div class="footer-row2-col">
                <p><i class="fas fa-star"></i>Advertise</p>
            </div>
            <div class="footer-row2-col">
                <p><i class="fas fa-gift"></i>Gift Cards</p>
            </div>
            <div class="footer-row2-col">
                <p><i class="fas fa-question-circle"></i>Help Center</p>
            </div>
            <div class="footer-row2-col">
               
            </div>
        </div>
    </footer>

</body>
